mixin about-block()
    section.about-block 
        .about-block__content 
            h2.about-block__title о нас
            .about-block__inner 
                .about-block__info 
                    .about-block__info-content 
                        .about-block__image-content 
                            img(src="img/sprite/shop.svg")
                            .about-block__line 
                        p.about-block__text <strong>Международная Школа Звукотерапии Bowls Mania</strong> - это команда звукотерапевтов с опытом — профессионалов своего дела. Идея создания школы появилась в результате накопленного большого опыта взаимодействия с поющими чашами и желания делиться с людьми этими знаниями. Звукотерапия — универсальный метод гармонизации человека и пространства с помощью звука и вибраций.
                    .about-block__info-content 
                            .about-block__image-content 
                                img(src="img/sprite/lotus.svg")
                                .about-block__line 
                            p.about-block__text <strong>Миссия Bowls Mania</strong> - нести людям Благо и Радость через поющие чаши, гонги и их целительные звуки и вибрации, которые очищают, исцеляют, гармонизируют и наполняют человека изнутри и пространство вокруг благотворными вибрациями!
                    .about-block__info-content 
                            .about-block__image-content 
                                img(src="img/sprite/heart.svg")
                                .about-block__line 
                            p.about-block__text <strong>Цель</strong> — Мы верим, что со временем каждый человек сможет иметь в своём пространстве поющие чаши и использовать этот удивительный и целительный инструмент в своей жизни — гармонизируя себя, близких, своё жизненное пространство через взаимодействие со звуком и вибрациями. 
                .about-block__image
                    img(src="img/content/about.png" alt="Фото сотрудников Bowl Mania")