mixin about-page()
    section.about-page 
        .about-page__content 
            ul.about-page__list 
                li.about-page__item
                    .machine__info 
                        h3.machine__title Welcome To ANTS Machine
                        p.machine__text Since our company was founded, based on the advantage of BOCHI which is the long-history and famous machine tool manufacturer, we continually introduce top Chinese lathe machinery enterprises and their products to international markets<br><br>With a balanced and diversfied approach towards the ever changing market scenario in perfect combination with strategic management and organic growth, ANTS Machine tool company has emerged as a renowned exporter of a wide range of top Chinese machinery.<br><br><strong>Mission</strong>: We are determined to supply the world with high-quality Chinese production equipment!<br><strong>Vision</strong>: To be a brand that customers can absolutely trust!<br><strong>Values</strong>: Service, Honesty, Professionalism, Focus!
                    .machine__images 
                        img(src="img/content/about1.png" alt="Image 1").machine__img 
                li.about-page__item 
                    .machine__info 
                        h3.machine__title What can you buy from us?
                        p.machine__text Since our company was founded, based on the advantage of BOCHI which is the long-history and famous machine tool manufacturer, we continually introduce top Chinese lathe machinery enterprises and their products to international markets, such as BOCHI, Shanghai Machine Tool, SPARK etc.<br><br>With a balanced and diversfied approach towards the ever changing market scenario in perfect combination with strategic management and organic growth, ANTS Machine tool company has emerged as a renowned exporter of a wide range of top Chinese lathe & tool machinery.<br><br>Bringing you the best of CNC tooling machines and all kinds of lathe machinery manufactured by reputed manufacturers of China, we assure you of immaculate quality and excellence. 
                    .machine__images 
                        img(src="img/content/about2.png" alt="Image 2").machine__img 
                li.about-page__item  
                    .machine__info 
                        h3.machine__title How can we guarantee quality?
                        p.machine__text With a rich experience of many years, we have acquired the requisite expertise and excellence in our domain. Having scaled phenomenal heights of success, today we stand tall amidst a number of competitors across the world.<br><br>A well coordinated and expertly managed operation system and professional international sales team enable us to turn orders into final products and export them to approximately 30 countries and several regions across the globe.
                    .machine__images 
                        img(src="img/content/about3.png" alt="Image 3").machine__img 
