mixin articles()
    section.articles
        .articles__content 
            h2.articles__title the last articles
            ul.articles__list
                li.articles__item 
                    .articles__image 
                        img(src="img/content/artic1.png" alt="Ceremony").articles__img
                    .articles__info 
                        .articles__date  July 25
                        .articles__name The Start-Up Ceremony Of Beijing No.1 Machine Tool Plant’s Ultra-Heavy CNC Gantry Turning And Milling Compound Machine Tool Was Held In DMSSC
                        p.articles__text Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; Li Zhongbo, deputy general manager of Beijing No.1 Machine Tool Co., LTD. (referred to as BYJC Machine...
                        a(href="#").articles__link Read more
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>

                li.articles__item 
                    .articles__image 
                        img(src="img/content/artic2.png" alt="Processing").articles__img
                    .articles__info 
                        .articles__date  
                        .articles__name What Is The Market Prospect Of The Mechanical Processing And Metalworking Industry?
                        p.articles__text What are the prospects of the mechanical equipment processing and metalworking industry and the market demand for mechanical equipment processing? With the intelligent development of industry, the intelligence of equipment also determines the precision of the processing effect. In particular, In particular, the micro devices required in the fields of optoelectronics, microelectronics, etc., as well as the large optoelectronic devices and ultra-precision processing equipment required in the aerospace...
                        a(href="#").articles__link Read more
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>

                li.articles__item
                    .articles__image 
                        img(src="img/content/artic3.png" alt="Top Quality").articles__img
                    .articles__info 
                        .articles__date 
                        .articles__name 2022 Advanced Member (Top Ten Quality) | Baoji Machine Tool Group: CK7530 Horizontal CNC Lathe
                        p.articles__text During the CIMT2023 exhibition, the China Machine Tool Industry Association commended and awarded the 2022 Advanced Member (Top Ten) companies. In order to better publicize these member companies, the media department of the association organized a series of special reports on the award-winnin....
                        a(href="#").articles__link Read more
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>
            .articles__slider.swiper
                ul.articles__list-mobile.swiper-wrapper
                    li.articles__item.swiper-slide
                        .articles__mobile 
                            .articles__image 
                                img(src="img/content/artic1.png" alt="Ceremony").articles__img
                            .articles__date-mobile
                                .articles__date  July 25
                                .articles__name The Start-Up Ceremony Of Beijing No.1 Machine Tool Plant’s Ultra-Heavy CNC Gantry Turning And Milling Compound Machine Tool Was Held In DMSSC
                        .articles__info-mobile    
                            p.articles__text Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; Li Zhongbo, deputy general manager of Beijing No.1 Machine Tool Co., LTD. (referred to as BYJC Machine...
                            a(href="#").articles__link Read more
                                <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                                </svg>
                    li.articles__item.swiper-slide
                        .articles__mobile 
                            .articles__image 
                                img(src="img/content/artic2.png" alt="Processing").articles__img
                            .articles__date-mobile
                                .articles__date  
                                .articles__name What Is The Market Prospect Of The Mechanical Processing And Metalworking Industry?
                        .articles__info-mobile
                            p.articles__text What are the prospects of the mechanical equipment processing and metalworking industry and the market demand for mechanical equipment processing? With the intelligent development of industry, the intelligence of equipment also determines the precision of the processing effect. In particular, In particular, the micro devices required in the fields of optoelectronics, microelectronics, etc., as well as the large optoelectronic devices and ultra-precision processing equipment required in the aerospace...
                            a(href="#").articles__link Read more
                                <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                                </svg>
                    li.articles__item.swiper-slide
                        .articles__mobile 
                            .articles__image 
                                img(src="img/content/artic3.png" alt="Top Quality").articles__img
                            .articles__date-mobile
                                .articles__date 
                                .articles__name 2022 Advanced Member (Top Ten Quality) | Baoji Machine Tool Group: CK7530 Horizontal CNC Lathe
                        .articles__info-mobile       
                            p.articles__text During the CIMT2023 exhibition, the China Machine Tool Industry Association commended and awarded the 2022 Advanced Member (Top Ten) companies. In order to better publicize these member companies, the media department of the association organized a series of special reports on the award-winnin....
                            a(href="#").articles__link Read more
                                <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                                </svg>
            .swiper-button-prev
            .swiper-button-next
            a(href="#").articles__all-link read all