mixin bending()
    section.bending 
        .bending__content 
            .bending__inner 
                .bending__images 
                    img(src="img/content/CNC-fotor.png" alt="Machine CNC-fotor").bending__images
                .bending__info 
                    h2.bending__title Pipe bending machines
                    p.bending__text Shaping pipes and metal profiles while maintaining their original parameters and external properties is a difficult task. It can be accomplished by using pipe bending machines. Today, the equipment of this category is successfully used in the engineering industry, in the production of mechanical vehicles and building structures, sewerage and air conditioning systems, other engineering communications.<br><br>The company's <strong>ANTS Machine</strong> catalog offers a model range of equipment for bending round and profile pipes. All machines are sold under the conditions of quality guarantee and acceptable price level.