mixin buy()
    section.buy
        .buy__content 
            h2.buy__title Don't miss the moment and buy a pipe bending machine
            ul.buy__list 
                li.buy__item
                    img(src="img/content/buy1.png" alt="CNC-114").buy__img
                    h3.buy__title-item CNC-114RHS Auto pipe bending machine
                    ul.buy__list-card 
                        li.buy__text Max. bending radius: R100 
                        li.buy__text Control of the bending process from the 
                        li.buy__text CNC stand 
                    button(type="button").buy__item-btn In more detail
                li.buy__item 
                    img(src="img/content/buy2.png" alt="DW38NC").buy__img
                    h3.buy__title-item DW38NC Semi-automatic Pipe Bender
                    ul.buy__list-card 
                        li.buy__text Max. bending radius: R200 
                        li.buy__text Control system: Microcomputer
                    button(type="button").buy__item-btn In more detail
                li.buy__item
                    img(src="img/content/buy1.png" alt="CNC-114").buy__img
                    h3.buy__title-item CNC-114RHS Auto pipe bending machine
                    ul.buy__list-card 
                        li.buy__text Max. bending radius: R100 
                        li.buy__text Control of the bending process from the 
                        li.buy__text CNC stand 
                    button(type="button").buy__item-btn In more detail 
                li.buy__item
                    img(src="img/content/buy2.png" alt="DW38NC").buy__img
                    h3.buy__title-item  DW38NC Semi-automatic Pipe Bender
                    ul.buy__list-card 
                        li.buy__text Max. bending radius: R200 
                        li.buy__text Control system: Microcomputer
                    button(type="button").buy__item-btn In more detail 
            .buy__slider.swiper
                ul.buy__list-mobile.swiper-wrapper 
                    li.buy__item.swiper-slide
                        img(src="img/content/buy1.png" alt="CNC-114").buy__img
                        h3.buy__title-item CNC-114RHS Auto pipe bending machine
                        ul.buy__list-card 
                            li.buy__text Max. bending radius: R100 
                            li.buy__text Control of the bending process from the 
                            li.buy__text CNC stand  
                        button(type="button").buy__item-btn In more detail
                    li.buy__item.swiper-slide 
                        img(src="img/content/buy2.png" alt="DW38NC").buy__img
                        h3.buy__title-item DW38NC Semi-automatic Pipe Bender
                        ul.buy__list-card 
                            li.buy__text Max. bending radius: R200 
                            li.buy__text Control system: Microcomputer
                        button(type="button").buy__item-btn In more detail
                    li.buy__item.swiper-slide
                        img(src="img/content/buy1.png" alt="CNC-114").buy__img
                        h3.buy__title-item CNC-114RHS Auto pipe bending machine
                        ul.buy__list-card 
                            li.buy__text Max. bending radius: R100 
                            li.buy__text Control of the bending process from the 
                            li.buy__text CNC stand 
                        button(type="button").buy__item-btn In more detail 
                    li.buy__item.swiper-slide
                        img(src="img/content/buy2.png" alt="DW38NC").buy__img
                        h3.buy__title-item  DW38NC Semi-automatic Pipe Bender
                        ul.buy__list-card 
                            li.buy__text Max. bending radius: R200 
                            li.buy__text Control system: Microcomputer
                        button(type="button").buy__item-btn In more detail
            .swiper-button-prev-two
            .swiper-button-next-two
            a(href="#").buy__more-link see more products