mixin category()
    section.category
        .category__content 
            h2.category__title Check out our Categories
            .category__category 
                ul.category__list 
                    li.category__item 
                        img(src="img/content/automat.png" alt="Automatic pipe").category__img
                        a(href="#").category__link Automatic Pipe bending machine
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>
                        p.category__text Automatic CNC tube benders are used for making products with complex shapes that require bending in 3-dimensional space
                    li.category__item 
                        img(src="img/content/automat1.png" alt="Automatic pipe").category__img
                        a(href="#").category__link Semi-automatic Pipe Bender
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>
                        p.category__text Single head hydraulic pipe bending machine adopts microcomputer control, and multi-angle setting, so that the work is simple and convenient
                    li.category__item 
                        img(src="img/content/automat2.png" alt="Automatic pipe").category__img
                        a(href="#").category__link Pipe Cutting Machine
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>
                        p.category__text Necessary ergonomic and functional industrial equipment for productive pipe cutting processes
                    li.category__item 
                        img(src="img/content/automat3.png" alt="Automatic pipe").category__img
                        a(href="#").category__link Pipe End Molding Machine
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M57.7071 8.70711C58.0976 8.31658 58.0976 7.68342 57.7071 7.29289L51.3431 0.928932C50.9526 0.538408 50.3195 0.538408 49.9289 0.928932C49.5384 1.31946 49.5384 1.95262 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM0 9H57V7H0V9Z" fill="#182C8F"/>
                            </svg>
                        p.category__text The machines are designed for high-precision forming of pipe ends and can be used in various industries