mixin choose()
    section.choose
        .choose__content 
            h2.choose__title Why choose our bending machines?
            ul.choose__list 
                li.choose__item
                    .choose__name Wide range of products
                    p.choose__text Our team is constantly improving and developing new equipment
                li.choose__item
                    .choose__name Best software
                    p.choose__text Leading software for CNC machines and hydraulic
                li.choose__item
                    .choose__name Quality service
                    p.choose__text 18 years focused on manufacturing high precision machine tools
                li.choose__item
                    .choose__name Nationwide sales
                    p.choose__text Long-term customer service for well-know 
