mixin class()
    section.class
        .class__content 
            h2.class__title Наши курсы
            ul.class__list 
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card1.png")
                            img(src="img/content/card-m1.png")
                        .class__link-content 
                            p.class__text Обучение<br>тибетские поющие чаши Звукотерапия. Массаж
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card2.png")
                            img(src="img/content/card-m2.png")
                        .class__link-content 
                            p.class__text Обучение<br>Вибрационно-акустический массаж с одной чашей
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card3.png")
                            img(src="img/content/card-m3.png")
                        .class__link-content 
                            p.class__text Обучение<br>Основы гонг-мастерства
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card4.png")
                            img(src="img/content/card-m4.png")
                        .class__link-content 
                            p.class__text Обучение<br>Вибрационно-акустический массаж поющими чашами в бане и на воде
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card5.png")
                            img(src="img/content/card-m5.png")
                        .class__link-content 
                            p.class__text Мастер-класс<br>основы звукотерапии
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.class__item 
                    a(href="#!").class__link
                        .class__image 
                            img(src="img/content/card6.png")
                            img(src="img/content/card-m6.png")
                        .class__link-content 
                            p.class__text онлайн обучение<br>Тибетские поющие чаши звукотерапия. Массаж
                            button(type="button").class__btn Узнать подробнее
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.11377 8L18.5545 8M18.5545 8L11.8045 1M18.5545 8L11.8045 15" stroke="#EEC066" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>