mixin contacts()
    section.contacts
        .contacts__content 
            h2.contacts__title Contact Us
            .contacts__inner 
                .contacts__map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.743291750464!2d121.5922805534012!3d31.33846190625779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b2752e10c85f91%3A0x7119f4f87891f39a!2sChina%20%EF%BC%88Shanghai%EF%BC%89%20Pilot%20Free%20Trade%20Zone!5e0!3m2!1sru!2sru!4v1709555918878!5m2!1sru!2sru" width="800" height="360" style="border: none!important;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                .contacts__info 
                    ul.contacts__list 
                        li.contacts__item
                            p.contacts__name Adress:
                            p.contacts__desc No. 536, Laolu Road, Lingang New Area, China (Shanghai) Pilot Free Trade Zone.
                        li.contacts__item
                            p.contacts__name Email:
                            p.contacts__desc bender@antishicnc.com  
                        li.contacts__item
                            p.contacts__name Phone:
                            p.contacts__desc +86-195-340-316-68 
                        li.contacts__item
                            p.contacts__name 24 hours hotline:
                            p.contacts__desc +86-19534031668 
                        li.contacts__item
                            p.contacts__name Wechat:
                            p.contacts__desc ANTISHICNC 