mixin faq()
    section.faq
        .faq__content 
            h2.faq__title Часто задаваемые вопросы о разработке сайтов
            p.faq__text Мы собрали самые частые вопросы, которые нам задают клиенты и заранее подготовили ответы на них ниже
            .faq__accordion(data-accordion="parent")
                .faq__element(data-accordion="element")
                    button(data-accordion="button").faq__btn Будет ли сайт адаптирован под телефоны?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg> 
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта
                .faq__element(data-accordion="element")
                    button(type="button" data-accordion="button").faq__btn Будет ли сайт виден поисковикам?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта
                .faq__element(data-accordion="element")
                    button(data-accordion="button").faq__btn Что, если результат мне не понравится?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg> 
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта
                .faq__element(data-accordion="element")
                    button(type="button" data-accordion="button").faq__btn Смогу ли я редактировать сайт самостоятельно?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта
                .faq__element(data-accordion="element")
                    button(data-accordion="button").faq__btn Будут ли какие-то ежемесячные платежи?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg> 
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта
                .faq__element(data-accordion="element")
                    button(type="button" data-accordion="button").faq__btn Есть ли гарантия на сайт?
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.5V27.5M1 14.5H27" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    .faq__info(data-accordion="content")
                        p.faq__text-info Да, гарантия на работы есть, и она прописана в договоре.  При соблюдении правил эксплуатации сайта гарантия на работы составляет 6 месяцев со дня сдачи-приемки сайта