mixin gallery()
	section.gallery
		.gallery__content 
			h2.gallery__title фотогалерея
			ul.gallery__list 
				li.gallery__item 
					a(href="img/content/foto1.png" data-fancybox="galary")
						img(src="img/content/foto1.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto2.png" data-fancybox="galary")
						img(src="img/content/foto2.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto3.png" data-fancybox="galary")
						img(src="img/content/foto3.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto4.png" data-fancybox="galary")
						img(src="img/content/foto4.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto5.png" data-fancybox="galary")
						img(src="img/content/foto5.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto6.png" data-fancybox="galary")
						img(src="img/content/foto6.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto7.png" data-fancybox="galary")
						img(src="img/content/foto7.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto8.png" data-fancybox="galary")
						img(src="img/content/foto8.png" alt="Фото работ Bowlmania")
				li.gallery__item 
					a(href="img/content/foto4.png" data-fancybox="galary")
						img(src="img/content/foto4.png" alt="Фото работ Bowlmania")
			a(href="#!").gallery__link Смотреть еще...