mixin grade()
    section.grade 
        .grade__content 
            h2.grade__title.plus__title Три слагаемых качества наших сайтов
            .grade__slider.swiper
                ul.grade__list.swiper-wrapper
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 1. Презентабельный внешний вид 
                                span.grade__info-title-line
                            p Основная задача любого сайта — демонстрация образа компании её потенциальным клиентам
                            p Устаревший, неаккуратный и неудобный сайт формирует соответствующее представление о компании
                            p Продуманный, структурированный и эстетично оформленный внешний вид — залог формирования правильного представления о компании у целевой аудитории сайта
                        .grade__images 
                            .grade__image 
                                img(src="img/content/grade1.png")
                            .grade__image 
                                img(src="img/content/grade2.png")
                            .grade__image 
                                img(src="img/content/grade3.png")
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 2. Высокая степень конверсии 
                                span.grade__info-title-line
                            p Основная задача любого сайта — демонстрация образа компании её потенциальным клиентам
                            p Устаревший, неаккуратный и неудобный сайт формирует соответствующее представление о компании
                            p Продуманный, структурированный и эстетично оформленный внешний вид — залог формирования правильного представления о компании у целевой аудитории сайта
                        .grade__images 
                            //- .grade__image 
                            //-     img(src="img/content/grade3.png")
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 3. Удобное управление сайтом
                                span.grade__info-title-line
                            p Основная задача любого сайта — демонстрация образа компании её потенциальным клиентам
                            p Устаревший, неаккуратный и неудобный сайт формирует соответствующее представление о компании
                            p Продуманный, структурированный и эстетично оформленный внешний вид — залог формирования правильного представления о компании у целевой аудитории сайта
                        .grade__images 
                            //- .grade__image 
                            //-     img(src="img/content/grade2.png")