mixin how()
    section.how
        .how__content 
            h2.how__title Как построена работа по созданию сайтов
            .how__block 
                .how__image 
                    img(src="img/sprite/ellipses-group.svg")
                .how__info 
                    ul.how__list 
                        li.how__item 
                            h3 Составляем техническое задание
                            p На этом этапе определяем: задачи сайта, основной функционал, портрет целевой аудитории и структуру сайта
                        li.how__item 
                            h3 Подписываем договор
                            p Фиксируем перечень работ, требования к сайту (ТЗ) стоимость сроки исполнения, порядок сдачи-приемки и гарантийный срок
                        li.how__item 
                            h3 Проектируем<br> сайт
                            p Проектируем пользовательский интерфейс, подбираем материалы, цвета, шрифты, разрабатываем и согласовываем макет сайта
                        li.how__item 
                            h3 Технические<br> работы
                            p Выполняем верстку сайта по макету, разработку программного кода, подключение CMS для последующего управления содержанием сайта
                    a(href="#!").how__link.intro__link Обсудить ваш  проект