mixin intro()
  section.intro
    .intro__bg 
      img(src="img/sprite/group.svg")
    .intro__content 
      .intro__inner
        h1.intro__title.hidden Мы разрабатываем сайты и делаем это хорошо
        p.intro__text.hidden Удобные и функциональные сайты любой сложности для бизнеса. Без шаблонов. Под ключ. 
        a(href="#!").intro__link Получить расчет проекта
      .intro__gif-content
        .intro__gif-block1
          .intro__gif1 
            img(src="img/sprite/gif1.svg")
          .intro__gif2 
            img(src="img/sprite/gif2.svg")
          .intro__gif12 
            img(src="img/sprite/gif12.svg")
          .intro__gif3 
            img(src="img/sprite/gif3.svg")
          .intro__gif13 
            img(src="img/sprite/gif13.svg")
        .intro__gif-block2 
          .intro__gif4 
            img(src="img/sprite/gif4.svg")
          .intro__gif5 
            img(src="img/sprite/gif5.svg")
          .intro__gif6
            img(src="img/sprite/gif6.svg")
        .intro__gif-block3 
          .intro__gif7 
            img(src="img/sprite/gif7.svg")
          .intro__gif8 
            img(src="img/sprite/gif8.svg")
          .intro__gif9
            img(src="img/sprite/gif9.svg")
          .intro__gif10 
            img(src="img/sprite/gif10.svg")
          .intro__gif11
            img(src="img/sprite/gif11.svg")

    .intro__bg 
      img(src="img/sprite/ellipse-bg.svg")