mixin know()
    section.know
        .know__content 
            h2.know__title What you should know about us
            ul.know__list 
                li.know__item
                    h3.know__title-card Fully reinforced
                    p.know__text focused on machine tool research and development
                li.know__item
                    h3.know__title-card Quality guarantee
                    p.know__text Free dispatch of personnel for equipment debugging   
                li.know__item
                    h3.know__title-card TECHNICAL TRAINING
                    p.know__text On-site installation, commissioning and sample testing 
                li.know__item
                    h3.know__title-card 24/7 SUPPORT
                    p.know__text Exclusive solutions and timely technical support 
                li.know__item
                    h3.know__title-card QUICK RESPONSE
                    p.know__text Free dispatch of personnel for equipment debugging  
                li.know__item
                    h3.know__title-card FULL COVERAGE
                    p.know__text Warranty before, during and after the sale of equipment   