mixin machine()
    section.machine
        .machine__content 
            .machine__inner 
                .machine__info 
                    h2.machine__title ANTS Machine today
                    p.machine__text Since our company was founded, based on the advantage of BOCHI which is the long-history and famous machine tool manufacturer, we continually introduce top Chinese lathe machinery enterprises and their products to international markets<br><br>With a balanced and diversfied approach towards the ever changing market scenario in perfect combination with strategic management and organic growth, ANTS Machine tool company has emerged as a renowned exporter of a wide range of top Chinese machinery.<br><br><strong>Mission</strong>: We are determined to supply the world with high-quality Chinese production equipment!<br><br><strong>Vision</strong>: To be a brand that customers can absolutely trust!<br><br><strong>Values</strong>: Service, Honesty, Professionalism, Focus!
                .machine__images 
                    img(src="img/content/fully-automatic.png" alt="Машина автомат").machine__img