mixin news-page()
    section.news-page
        .news-page__content 
            h2.news-page__title ANTISHI Machine Company Successfully Exported A GZ4233(CH-300HA) Fully Automatic PLC Control Horizontal Straight Cutting Band Saw Machine To Belarus Client
            p.news-page__text Reported by: Amanda   <br class="br">Date: December 05, 2023<br><br>Recently, our company successfully exported 1 Set SW-38NC Double Head Bending Machine to Ethiopia.<br><br>The client is a hospital bed manufacturer in Ethiopia. The customer needs to make a bed frame and corresponding bed frame with a height of 1.3m and a center distance of 1m. Considering that the bed frame has a symmetrical shape and the customer’s bending requirements are relatively simple, which are all 90 degree bends, we recommended the double-head pipe bending machine SW38NC to him.<br><br>After further communication, the customer approved our plan and came to our factory to visit the machine. After seeing the machine’s proofing operation, the customer directly confirmed the order and customized the green appearance. At present, the machine has been packaged and ready to be shipped.
            .news-page__table 
                .news-page__fields
                    .news-page__lvl 
                        img(src="img/content/table1.png" alt="Table1").news-page__img
                    .news-page__lvl 
                        img(src="img/content/table2.png" alt="Table2").news-page__img
                    .news-page__lvl 
                        img(src="img/content/table3.png" alt="Table3").news-page__img
                .news-page__fields.news-page__fields--tablet
                    .news-page__lvl 
                        img(src="img/content/table1.png" alt="Table1").news-page__img
                    .news-page__lvl 
                        img(src="img/content/table2.png" alt="Table2").news-page__img
                    .news-page__lvl 
                        img(src="img/content/table3.png" alt="Table3").news-page__img
                