mixin offer()
    section.offer
        .offer__content
            ul.offer__list
                li.hidden 
                    h2 <span>30</span> сайтов в год <br> и не более
                    p Кастомизированные решения, <br> без конвейера
                li.hidden 
                    h2 <span>-30%</span> от средней <br> стоимости по рынку
                    p Продукт высокого качества, дешевле конкурентов
                li.hidden
                    h2 <span>95%</span> повторных <br> заказов <span class="mobile"> и рекомендаций партнерам</span> 
                    p Высокая степень удовлетворенности клиентов
