mixin page404()
    section.page404
        .page404__content 
            .page404__inner
                .page404__image 
                    img(src="img/content/404page.png" alt="page-404").page404__img
                .page404__info 
                    h2.page404__title Page not found
                    p.page404__text Oops! We couldn't find the page that you're looking for. Please check the address and try again.
                    a(href="index.html").page404__link back to main page