mixin pipe-machines()
    section.pipe-machines 
        .pipe-machines__content 
            h2.pipe-machines__title pipe bending machines    
            .pipe-machines__inner 
                ul.pipe-machines__list 
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link.pipe-machines__link--active Machines categories
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Pipe bending machines 
                            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.9201 0.949951L10.4001 7.46995C9.63008 8.23995 8.37008 8.23995 7.60008 7.46995L1.08008 0.949951" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        ul.pipe-machines__sublist 
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Automatic pipe bender machines 
                            li.pipe-machines__item-depth1 
                                a(href="#").pipe-machines__link-depth1 Semi-automatic pipe bender machines     
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Pipe Cutting Machine    
                    li.pipe-machines__item 
                        a(href="#").pipe-machines__link Pipe End Molding Machine
                h2.pipe-machines__mobile-title pipe bending machines     
                ul.buy__list
                    li.buy__item
                        img(src="img/content/buy1.png" alt="CNC-114").buy__img
                        h3.buy__title-item CNC-114RHS Auto pipe bending machine
                        p.buy__text Max. bending radius: R100 Control of the bending process from the CNC stand 
                        button(type="button").buy__item-btn In more detail 
                    li.buy__item
                        img(src="img/content/buy2.png" alt="DW38NC").buy__img
                        h3.buy__title-item  DW38NC Semi-automatic Pipe Bender
                        p.buy__text Max. bending radius: R200 Control system: Microcomputer
                        button(type="button").buy__item-btn In more detail
                    li.buy__item
                        img(src="img/content/buy1.png" alt="CNC-114").buy__img
                        h3.buy__title-item CNC-114RHS Auto pipe bending machine
                        p.buy__text Max. bending radius: R100 Control of the bending process from the CNC stand 
                        button(type="button").buy__item-btn In more detail 
                    li.buy__item
                        img(src="img/content/buy2.png" alt="DW38NC").buy__img
                        h3.buy__title-item  DW38NC Semi-automatic Pipe Bender
                        p.buy__text Max. bending radius: R200 Control system: Microcomputer
                        button(type="button").buy__item-btn In more detail    
                    li.buy__item
                        img(src="img/content/buy1.png" alt="CNC-114").buy__img
                        h3.buy__title-item CNC-114RHS Auto pipe bending machine
                        p.buy__text Max. bending radius: R100 Control of the bending process from the CNC stand 
                        button(type="button").buy__item-btn In more detail 
                    li.buy__item
                        img(src="img/content/buy2.png" alt="DW38NC").buy__img
                        h3.buy__title-item  DW38NC Semi-automatic Pipe Bender
                        p.buy__text Max. bending radius: R200 Control system: Microcomputer
                        button(type="button").buy__item-btn In more detail    
            ul.pipe-machines__pagination
                li.pipe-machines__page-item 
                    button(type="button").pipe-machines__page-icon.pipe-machines__page-icon--disabled
                        <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.909912 16.9201L7.42991 10.4001C8.19991 9.63008 8.19991 8.37008 7.42991 7.60008L0.909912 1.08008" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                li.pipe-machines__page-item
                    a(href="machines.html").pipe-machines__page-link.pipe-machines__page-link--active 1
                li.pipe-machines__page-item
                    a(href="#page").pipe-machines__page-link 2
                li.pipe-machines__page-item
                    a(href="#page").pipe-machines__page-link 3
                li.pipe-machines__page-item
                    a(href="#page").pipe-machines__page-link 4
                li.pipe-machines__page-item
                    button(type="button").pipe-machines__page-icon
                        <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.909912 16.9201L7.42991 10.4001C8.19991 9.63008 8.19991 8.37008 7.42991 7.60008L0.909912 1.08008" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>