mixin plus()
    section.plus
        .plus__bg 
            img(src="img/sprite/plus-bgl.svg")
        .plus__content 
            h2.plus__title Работа с нами это
            .plus__slider.swiper 
                ul.plus__list.swiper-wrapper 
                    li.plus__item.swiper-slide 
                        .plus__image 
                            img(src="img/content/arrow-white.png")
                        .plus__info.hidden
                            h3 Гибкость
                            p Мы вариативны в наших предложениях клиентам и можем адаптироваться под потребности именно вашего бизнеса.
                    li.plus__item.swiper-slide
                        .plus__image 
                            img(src="img/content/arrow-white.png") 
                        .plus__info.hidden
                            h3 Комплексный подход
                            p Закладываем функционал сайта на уровне дизайна, учитываем все нюансы и предлагаем оптимальные решения.
                    li.plus__item.swiper-slide 
                        .plus__image 
                            img(src="img/content/arrow-white.png") 
                        .plus__info.hidden
                            h3 Ваш единый партнер
                            p Фирменный стиль, дизайн, разработка сайта, SEO и настройка рекламы, техподдержка… Один ответственный партнёр.
                .plus-swiper-pagination
        .plus__bg 
            img(src="img/sprite/plus-bgr.svg")