mixin sertificates()
    section.sertificates
        .sertificates__content 
           .sertificates__inner 
                .sertificates__info 
                    img(src="img/sprite/illust.svg")
                    p Лицензия на ведение образовательной деятельности: 0000000000000
                .sertificates__image 
                    img(src="img/content/sertificate.png" data-fancybox)