mixin server()
    section.server
        .server__content 
            h2.server__title С какими хостингами мы работаем 
            p.server__text Сайт – это набор файлов, которые лежат на сервере. Когда Вы вводите его название в строке браузера, он обращается за информацией, которую нужно показать пользователю, на сервер. От надежности этого сервера ключевым образом зависит работоспособность Вашего сайта. Хостинговая компания – это компания которая предоставляет место на сервере для хранения Вашего сайта и доступа пользователей к нему. Именно поэтому очень важно ответственно отнестись к выбору хостинга. Мы работаем со всеми хостинговыми площадками, однако при разработке сайтов рекомендуем своим клиентам наших проверенных партнеров. Эти хостинговые площадки, по нашему опыту, обладают высокой степенью надежности, скорости работы серверов, удобством панели управления, гибкими системами оплаты хостинга, быстротой и качеством работы службы технической поддержки. Если Вы предпочитаете другой хостинг, мы готовы работать с любой площадкой
            ul.server__list 
                li.server__item 
                    img(src="img/content/server1.png")
                li.server__item 
                    img(src="img/content/server2.png")
                li.server__item 
                    img(src="img/content/server3.png")
                li.server__item 
                    img(src="img/content/server4.png")