mixin single-event(options)
    - const extraClass = options.extraClass ? options.extraClass : ''
    section.single-event(class=extraClass)
        +breadcrumbs({
            isStatic: true,
            list: [
                {
                    href: "#"
                },
                {
                    text: options.last
                }

            ]
        })
        .single-event__content 
            h1.single-event__title магазин тибетских чаш Bowls mania на маркете «delhi базар» 21–23 апреля 2023
            .single-event__inner 
                .single-event__info 
                    p Магазин тибетских чаш Bowls Mania начал свою работу в 2017 году
                    p Идея открытия магазина родилась в результате опыта работы с тибетскими поющими чашами, в процессе взаимодействия с людьми, проведения медитаций и виброаккустического массажа. Интерес к поющими чашам с каждым годом растёт и набирает популярность.
                    p Магазин Тибетских чаш это не только интернет-магазин и шоу-рум. Это также студия, где проводятся обучающие курсы и офлайн практики с тибетскими чашами — самомассаж, вибро-аккустический массаж, медитации, творческие мастер-классы и мероприятия.
                    p Мы применяем комплексный подход в своём деле — продаём покупателям не просто товар, но и передаём практические знания и навыки, даём информационную поддержку для дальнейшего применения и развития в индивидуальной практике.
                    p В нашем ассортименте самые качественные тибетские поющие чаши из Непала по выгодным ценам, которые производятся ручным способом — ковка. Также сопутствующие им аксессуары и музыкальные инструменты: ханги, гонги, шум ручья, караталы, стики, колотушки, сумки, благовония и т.д Наши покупатели — это люди из различных областей и профессий — терапевты, звукотерапевты, домохозяйки, преподаватели йоги и медитаций, массажисты, банщики, программисты, офисные работники и т.д. Все, кто хочет обрести гармонию, открыть и познать что‑то новое, расширить возможности и опыт в своей практике и работе с людьми.
                    p Шоу-рум Bowls Mania находится по адресу г. Москва, проезд Серебрякова д. 2,к.1. В приятной, расслабляющей атмосфере за чашкой чая, вы можете прослушать звучание чаш и выбрать то, что вам понравится и отзовётся в сердце.
                .single-event__images 
                    .single-event__image-main 
                        img(src="img/content/main.png" alt="Bowls Mania на марткете Delhi Базар")
                    .single-event__image-box 
                        .single-event__image-second 
                            img(src="img/content/second.png" alt="Bowls Mania на марткете Delhi Базар")
                        .single-event__image-second 
                            img(src="img/content/second.png" alt="Bowls Mania на марткете Delhi Базар")

        
        
        