mixin team(title)
    section.team
        .team__content 
            h2.team__title=title 
            .team__slider.swiper 
                ul.team__list.swiper-wrapper 
                    li.team__item.swiper-slide 
                        .team__item-content 
                            .team__image 
                                img(src="img/content/team1.png" alt="Фото участника компании Bowlsmania")
                            .team__info
                                h3.team__name Наталья Кондаковская
                                p Основатель магазина и международной школы звукотерапии с тибетскими поющими чашами и гонгом Bowlsmania.
                                p Преподаватель и создатель авторского обучения, звукотерапевт с опытом работы более 12 лет.  
                                p Организатор групповых и индивидуальных образовательных туров по всему миру. 
                    li.team__item.swiper-slide 
                        .team__item-content 
                            .team__image 
                                img(src="img/content/team1.png" alt="Фото участника компании Bowlsmania")
                            .team__info
                                h3.team__name Наталья Кондаковская
                                p Основатель магазина и международной школы звукотерапии с тибетскими поющими чашами и гонгом Bowlsmania.
                                p Преподаватель и создатель авторского обучения, звукотерапевт с опытом работы более 12 лет.  
                                p Организатор групповых и индивидуальных образовательных туров по всему миру. 
                    li.team__item.swiper-slide 
                        .team__item-content 
                            .team__image 
                                img(src="img/content/team1.png" alt="Фото участника компании Bowlsmania")
                            .team__info
                                h3.team__name Наталья Кондаковская
                                p Основатель магазина и международной школы звукотерапии с тибетскими поющими чашами и гонгом Bowlsmania.
                                p Преподаватель и создатель авторского обучения, звукотерапевт с опытом работы более 12 лет.  
                                p Организатор групповых и индивидуальных образовательных туров по всему миру. 
                    li.team__item.swiper-slide 
                        .team__item-content 
                            .team__image 
                                img(src="img/content/team1.png" alt="Фото участника компании Bowlsmania")
                            .team__info
                                h3.team__name Наталья Кондаковская
                                p Основатель магазина и международной школы звукотерапии с тибетскими поющими чашами и гонгом Bowlsmania.
                                p Преподаватель и создатель авторского обучения, звукотерапевт с опытом работы более 12 лет.  
                                p Организатор групповых и индивидуальных образовательных туров по всему миру. 
                    li.team__item.swiper-slide 
                        .team__item-content 
                            .team__image 
                                img(src="img/content/team1.png" alt="Фото участника компании Bowlsmania")
                            .team__info
                                h3.team__name Наталья Кондаковская
                                p Основатель магазина и международной школы звукотерапии с тибетскими поющими чашами и гонгом Bowlsmania.
                                p Преподаватель и создатель авторского обучения, звукотерапевт с опытом работы более 12 лет.  
                                p Организатор групповых и индивидуальных образовательных туров по всему миру. 
                .swiper-buttons
                    .swiper-button-prev.swiper-button-prev-team 
                    .swiper-pagination.team-swiper-pagination
                    .swiper-button-next.swiper-button-next-team