mixin thanks()
    section.thanks
        .thanks__content
            .thanks__inner 
                .thanks__image 
                    img(src="img/content/thanks.png" alt="Thank you").thanks__img
                .thanks__info 
                    h2.thanks__title Thank you,
                    p.thanks__text your application has been accepted
                    p.thanks__text-small Our manager will contact you shortly to discuss the details.
                    a(href="index.html").thanks__link back to main page