mixin ticker()
    section.ticker
        .ticker__content 
            h2.ticker__title Наши клиенты
            .ticker__marquee.swiper
                .ticker__marquee-box.swiper-wrapper
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide1.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide2.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide3.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide4.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide5.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide6.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide7.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide8.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide9.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide10.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide11.svg")
                    .ticker__slide.swiper-slide
                        img(src="img/sprite/slide12.svg")