mixin training()
    section.training
        .training__content 
            .training__slider.swiper 
                ul.training__list.swiper-wrapper 
                    li.training__item.swiper-slide 
                        a(href="#!").training__link
                            .training__image 
                                img(src="img/content/training1.png")
                                img(src="img/content/training-m1.png")
                            .training__link-content 
                                h2.training__title Открыт набор на трехдневный курс <span>Тибетские поющие чаши</span>
                                p.training__text Уникальный методический материал и Сертификат о прохождении курса от BOWLS MANIA
                                button(type="button").training__btn Пройти обучение
                    li.training__item.swiper-slide 
                        a(href="#!").training__link
                            .training__image 
                                img(src="img/content/training1.png")
                                img(src="img/content/training-m1.png")
                            .training__link-content 
                                h2.training__title Открыт набор на трехдневный курс <span>Тибетские поющие чаши</span>
                                p.training__text Уникальный методический материал и Сертификат о прохождении курса от BOWLS MANIA
                                button(type="button").training__btn Пройти обучение
                    li.training__item.swiper-slide 
                        a(href="#!").training__link
                            .training__image 
                                img(src="img/content/training1.png")
                                img(src="img/content/training-m1.png")
                            .training__link-content 
                                h2.training__title Открыт набор на трехдневный курс <span>Тибетские поющие чаши</span>
                                p.training__text Уникальный методический материал и Сертификат о прохождении курса от BOWLS MANIA
                                button(type="button").training__btn Пройти обучение
                    li.training__item.swiper-slide 
                        a(href="#!").training__link
                            .training__image 
                                img(src="img/content/training1.png")
                                img(src="img/content/training-m1.png")
                            .training__link-content 
                                h2.training__title Открыт набор на трехдневный курс <span>Тибетские поющие чаши</span>
                                p.training__text Уникальный методический материал и Сертификат о прохождении курса от BOWLS MANIA
                                button(type="button").training__btn Пройти обучение
                    li.training__item.swiper-slide 
                        a(href="#!").training__link
                            .training__image 
                                img(src="img/content/training1.png")
                                img(src="img/content/training-m1.png")
                            .training__link-content 
                                h2.training__title Открыт набор на трехдневный курс <span>Тибетские поющие чаши</span>
                                p.training__text Уникальный методический материал и Сертификат о прохождении курса от BOWLS MANIA
                                button(type="button").training__btn Пройти обучение
            .swiper-bottons
                .swiper-button-prev.swiper-button-prev-two
                .swiper-pagination.training-swiper-pagination
                .swiper-button-next.swiper-button-next-two
