mixin video()
    section.video
        .video__content 
            h2.video__title видео
            ul.video__list 
                li 
                    a(href="video-a.mp4" data-fancybox="gallery")
                        //- img(src="thumbnail-a.jpeg") 
                        img(src="img/content/thumbnail-a.png")
                        <svg width="83" height="83" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2199_7306)">
                        <g filter="url(#filter0_b_2199_7306)">
                        <circle cx="41.5" cy="41.5" r="41.5" fill="white" fill-opacity="0.47"/>
                        </g>
                        <path d="M29 20L63.0755 41.5L29 63V20Z" stroke="#335B4C" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_2199_7306" x="-16" y="-16" width="115" height="115" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2199_7306"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2199_7306" result="shape"/>
                        </filter>
                        <clipPath id="clip0_2199_7306">
                        <rect width="83" height="83" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                li 
                    a(href="video-b.mp4" data-fancybox="gallery")
                        //- img(src="thumbnail-a.jpeg") 
                        img(src="img/content/thumbnail-b.png")
                        <svg width="83" height="83" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2199_7306)">
                        <g filter="url(#filter0_b_2199_7306)">
                        <circle cx="41.5" cy="41.5" r="41.5" fill="white" fill-opacity="0.47"/>
                        </g>
                        <path d="M29 20L63.0755 41.5L29 63V20Z" stroke="#335B4C" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_2199_7306" x="-16" y="-16" width="115" height="115" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2199_7306"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2199_7306" result="shape"/>
                        </filter>
                        <clipPath id="clip0_2199_7306">
                        <rect width="83" height="83" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                li 
                    a(href="video-c.mp4" data-fancybox="gallery")
                        //- img(src="thumbnail-a.jpeg") 
                        img(src="img/content/thumbnail-c.png")
                        <svg width="83" height="83" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2199_7306)">
                        <g filter="url(#filter0_b_2199_7306)">
                        <circle cx="41.5" cy="41.5" r="41.5" fill="white" fill-opacity="0.47"/>
                        </g>
                        <path d="M29 20L63.0755 41.5L29 63V20Z" stroke="#335B4C" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_2199_7306" x="-16" y="-16" width="115" height="115" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2199_7306"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2199_7306" result="shape"/>
                        </filter>
                        <clipPath id="clip0_2199_7306">
                        <rect width="83" height="83" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>                   