mixin ways()
    section.ways
        .ways__content 
            h2.ways__title С какими CMS мы работаем
            p.ways__text CMS – это система управления содержимым сайта. CMS это не шаблон и не конструктор, а профессионально реализованное ядро сайта, которое позволяет сделать его максимально удобным, безопасным и быстрым. Благодаря CMS, на уже разработанном программистами сайте Ваш менеджер сможет добавлять или изменять информацию, не обладая навыками программирования. Например, добавлять или редактировать новости компании, карточки товаров, информацию о новых реализованных проектах. У каждой CMS есть своя специфика. Проанализировав Ваши задачи, мы предложим Вам оптимальный вариант реализации
            ul.ways__list 
                li.ways__item 
                    img(src="img/content/logo1.png")
                li.ways__item 
                    img(src="img/content/logo2.png")
                li.ways__item 
                    img(src="img/content/logo3.png")
                li.ways__item 
                    img(src="img/content/logo4.png")
                li.ways__item 
                    img(src="img/content/logo5.png")