mixin why()
    section.why
        .why__bg 
            img(src="img/sprite/why-bgl.svg")
        .why__content 
            h2.why__title Почему мы
            ul.why__list 
                li.why__item 
                    h3 Гибкая система оплаты
                    p Заказывая сайт у нас, Вы ничем не рискуете. В договоре предусмотрена оплата только после сдачи-приемки работ. Сначала мы качественно делаем - потом Вы платите
                li.why__item 
                    h3 Полгода техподдержки в подарок
                    p Первые месяцы после запуска сайта - ответственный период, когда у владельца появляется много вопросов и новых идей. Мы не бросим Вас наедине с новыми задачами, а также будем следить за работоспособностью сайта.
                li.why__item 
                    h3 Поисковое продвижение (SEO) включено
                    p На Вашем сайте будут выполнены настройки поисковой оптимизации: прописаны мета-теги, размечены заголовки, корректно настроены url.
                li.why__item 
                    h3 Сайт, продвижение и соц. сети в одной компании
                    p Доверяя все интернет-активности единому подрядчику, Вы всегда знаете, с кого спросить результат и избегаете отнимающих время разбирательств, кто же все-таки виноват.
        .why__bg 
            img(src="img/sprite/why-bgr.svg")