mixin works()
    section.works
        .works__content 
            h2.works__title Примеры наших работ
            p.works__text В нашем портфолио проекты по разработке и продвижению сайтов для промышленных компаний, заводов, интернет-магазинов, спортивных студий, клининговых, логистических компаний. Мы с интересом готовы работать также и в новых для нас направлениях
        .works__slider.swiper 
            ul.works__list.swiper-wrapper 
                li.works__item.swiper-slide
                    img(src="img/content/slide1.png")
                li.works__item.swiper-slide
                    img(src="img/content/slide1.png")
                li.works__item.swiper-slide
                    img(src="img/content/slide1.png")
                li.works__item.swiper-slide
                    img(src="img/content/slide1.png")
                li.works__item.swiper-slide
                    img(src="img/content/slide1.png")
                li.works__item.swiper-slide
                    img(src="img/content/grade3.png")
            .works-swiper-pagination
            .works__buttons
                .swiper-button-next.swiper-button-next-works 
                .swiper-button-prev.swiper-button-prev-works
        a(href="#!").works__link.intro__link Смотреть все