.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 15px 20px;

  color: rgb(24, 44, 143);
  font-family: Blinker, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 2%;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  

  cursor: pointer;
  user-select: none;

  transition: background-color rgb(24, 44, 143);

  outline: none;

  @include hover-focus {
    color: #1D36AF;
  }

  @include active {
    color: #15277F;
  }
}
