.gallery {
    overflow: hidden;

    &__content {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 40px;
    }

    &__title {
        color: rgb(52, 52, 52);
        font-family: OpenSans;
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin: 0 0 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 40px;
    }

    &__item {
        max-width: 320px;
    }

    &__item>a {
        max-width: 320px;
        height: 300px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        max-width: 320px;
        width: 100%;
        border-radius: 2px;
        background: rgb(51, 91, 76);
        color: rgb(255, 255, 255);
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        padding: 14px;
        margin: 0 auto;
        transition: .3s;
        display: none;
    }

    &__link:hover {
        background: #3B6957;
    }

    @media screen and (max-width: 900px) {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            max-width: 100%;

            a {
                max-width: 100%;
                max-height: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 50px 45px;
        }

        &__title {
            font-size: 28px;
            margin-bottom: 40px;
        }

        &__list {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 500px) {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width: 390px) {
        &__content {
            padding: 40px 35px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}