//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/icon-img
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks

include ./blocks/intro
include ./blocks/section
include ./blocks/category-card
include ./blocks/features
include ./blocks/service
include ./blocks/advantage-card
include ./blocks/feedback
include ./blocks/cover
include ./blocks/products
include ./blocks/card
include ./blocks/info
include ./blocks/specifications
include ./blocks/description
include ./blocks/application
include ./blocks/block
include ./blocks/tech-services
include ./blocks/gallery
include ./blocks/breadcrumbs
include ./blocks/vacancy
include ./blocks/machine
include ./blocks/category
include ./blocks/bending
include ./blocks/choose
include ./blocks/buy
include ./blocks/articles
include ./blocks/form
include ./blocks/categories
include ./blocks/pipe-machines
include ./blocks/automatic
include ./blocks/view
include ./blocks/tabs
include ./blocks/about-page
include ./blocks/sertificates
include ./blocks/know
include ./blocks/news
include ./blocks/articles-page
include ./blocks/selected
include ./blocks/contacts
include ./blocks/page404
include ./blocks/thanks
include ./blocks/news-page 
include ./blocks/popup
include ./blocks/training
include ./blocks/class
include ./blocks/about-block
include ./blocks/team
include ./blocks/events
include ./blocks/base-block
include ./blocks/whant
include ./blocks/path
include ./blocks/program
include ./blocks/days
include ./blocks/video
include ./blocks/single-event
include ./blocks/time-block
include ./blocks/offer
include ./blocks/plus
include ./blocks/grade
include ./blocks/ticker
include ./blocks/why
include ./blocks/how
include ./blocks/price
include ./blocks/works
include ./blocks/ways
include ./blocks/server
include ./blocks/faq 

//- Mixins

include ./mixins/btn
include ./mixins/custom-checkbox
include ./mixins/custom-input
include ./mixins/custom-radio
include ./mixins/custom-select
include ./mixins/custom-textarea
